.list {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
}

.listButtons {
  margin-left: 10px;
}

.addTagButton {
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-right: auto;
}

.tag {
  margin-left: 10px;
}
